<!DOCTYPE html>
<html>
  <head>
    <title>Jelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('Yelp_burst_positive_RGB.ico') %>
    <script type="text/javascript">
      window.auth_img = "<%= image_url('auth_image.png') %>"
      window.cover_img = "<%= image_url('cover_page_img.jpg') %>"
      window.default_profile_img = "<%= image_url('default_profile_img.png') %>"
      window.logo = "<%= image_url('jelp-logo.png') %>"
      window.stars = "<%= image_url('stars.png') %>"
      window.dog = "<%= image_url('dog.png') %>"
    </script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}"%>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
